* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.camera-view {
    position: absolute;
    left: 0;
    top: 0;
    right: 200px;
    bottom: 0;
    background-color: #888;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.camera-view .image-one {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.camera-view .camera-mesh .camera-mesh-hor-one,
.camera-view .camera-mesh .camera-mesh-hor-two {
    left: 0;
    top: 0;
    height: calc(100%/3);
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #777;
    opacity: 0.4;
}

.camera-view .camera-mesh .camera-mesh-hor-two {
    border-top: 1px solid #777;
    opacity: 0.4;
    border-bottom: none;
    top: auto;
    bottom: 0;
}

.camera-view .camera-mesh .camera-mesh-ver-one,
.camera-view .camera-mesh .camera-mesh-ver-two {
    left: 0;
    top: 0;
    width: calc(100%/3);
    height: 100%;
    position: absolute;
    border-right: 1px solid #777;
    opacity: 0.4;
}

.camera-view .camera-mesh .camera-mesh-ver-two {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 1px solid #777;
    opacity: 0.4;
}

.joystickState-values {
    position: absolute;
    right: 0;
    width: 200px;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: #dff;
    font-family: monospace;
    white-space: pre;
    padding-left: 10px;
    overflow: hidden;
}

.wheel-value {
    position: absolute;
    top: 30px;
    height: 10px;
    left: 0;
    right: 220px;
    width: 800px;
    margin: auto;
    background-color: #bfb;
    z-index: 2;
    overflow: hidden;
}


.wheel-value .wheel-center,
.wheel-value .wheel-position {
    height: 100%;
    position: absolute;
    width: 20px;
    background-color: #f55;
    left: calc(50% - 10px);
}

.wheel-value .wheel-center {
    width: 2px;
    background-color: #555;
    left: calc(50% - 1px);
    z-index: 3;
}

.accel-value {
    position: absolute;
    right: 230px;
    width: 10px;
    height: 500px;
    bottom: 30px;
    background-color: #bbf;
    z-index: 2;
    overflow: hidden;
}

.accel-value .accel-center,
.accel-value .accel-position {
    position: absolute;
    bottom: calc(50% - 10px);
    height: 20px;
    width: 100%;
    background-color: #88f;
}

.accel-value .accel-center {
    bottom: calc(50% - 1px);
    height: 2px;
    background-color: #555;
    z-index: 3;
}